<div class='mt-4'>
    <h3>Sửa khoá học</h3>

    {{#with course}}
        <form method='POST' action='/courses/{{_id}}?_method=PUT'>
            <div class='form-group'>
                <label for='name'>Tên khoá học</label>
                <input type='text' class='form-control' id='name' name='name' value='{{name}}' />
            </div>
            <div class='form-group'>
                <label for='description'>Mô tả</label>
                <textarea class='form-control' id='description' name='description'>{{description}}</textarea>
            </div>
            <div class='form-group'>
                <label for='videoId'>Video ID</label>
                <input type='text' class='form-control' id='videoId' name='videoId' value='{{videoId}}' />
            </div>
            <div class='form-group'>
                <label for='level'>Trình độ</label>
                <input type='text' class='form-control' id='level' name='level' value='{{level}}' />
            </div>

            <button type='submit' class='btn btn-primary'>Sửa khoá học</button>
        </form>
    {{/with}}
</div>